/* Hero Banner */
.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem 2rem;
    min-height: 60vh;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.buttons .button {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
}
